<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="Your Ultimate Job HTML Template">
        <meta name="keywords" content="Job, Resume, Employer, Agency">
        <link rel="canonical" href="https://html.themewant.com/jobpath">
        <meta name="robots" content="index, follow">
        <!-- for open graph social media -->
        <meta property="og:title" content="Your Ultimate Job HTML Template">
        <meta property="og:description" content="Your Ultimate Job HTML Template">
        <meta property="og:image" content="../../../www.example.com/image.html">
        <meta property="og:url" content="https://html.themewant.com/jobpath/">
        <!-- for twitter sharing -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Your Ultimate Job HTML Template">
        <meta name="twitter:description" content="Your Ultimate Job HTML Template">
        <!-- fabicon -->
        <link rel="shortcut-icon" href="assets/img/favicon-16x16.png" type="image/x-icon">
    
    
    
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
        <title>Jobpath - Job Seeker &amp; Job Holder HTML Template</title>
        <!-- rt icons -->
        <link rel="stylesheet" href="assets/fonts/icon/css/rt-icons.css">
        <!-- fontawesome -->
        <link rel="stylesheet" href="assets/fonts/fontawesome/fontawesome.min.css">
        <!-- all plugin css -->
        <link rel="stylesheet" href="assets/css/plugins.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
    
    </head>
<!-- job category -->
<div class="pt-150"></div>
<div class="rts__section section__padding overflow-hidden">
    <div class="container">
        <div class="row justify-content-center mb-50 position-relative ">
            <div class="col-xl-6 col-lg-10">
<div class="rts__section__content text-center  wow animated fadeInUp">
<h3 class="rts__section__title section__mb">Browse Job Category</h3>
<p class="rts__section__desc">Looking for your next career opportunity. Look no further</p>
</div>
</div>
        </div>
        <div class="row g-30">
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/1.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label">Accounting</a>
                        <span>130+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/2.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label">Design & Art</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/3.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label">Accounting</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/4.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label">Marketing</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/5.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label"> Health  & Care</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/1.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label"> Engineering</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/5.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label"> UI/UX Design</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-xxl-3 col-md-6">
                <div class="single__cat style__five d-flex gap-4">
                    <div class="single__cat__icon color-3">
                        <img class="rounded-2" src="assets/img/home-5/cat/8.jpg" alt="">
                    </div>
                    <div class="single__cat__link d-flex flex-column">
                        <a href="job-list-5.html" aria-label="cat__label"> Data Science</a>
                        <span>70+ Jobs</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>