<header class="rts__section rts__header absolute__header">
    <div class="container-none">
        <div class="rts__menu__background">
            <div class="row">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="rts__logo">
                        <a href="">
                            <h3>Code architect</h3>
                        </a>
                    </div>
                    <div class="rts__menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center">
                        <div class="navigation d-none d-lg-block">
    <nav class="navigation__menu" id="offcanvas__menu">
        <ul class="list-unstyled">
            <li class="navigation__menu--item ">
                <a href="#" class="navigation__menu--item__link">Home</a>
            </li>

            <li class="navigation__menu--item ">
                <a href="#" class="navigation__menu--item__link">Jobs</a>
                
            </li>

            <li class="navigation__menu--item ">
                <a href="#" class="navigation__menu--item__link">Courses</a>
               
            </li>
            <li class="navigation__menu--item ">
                <a href="#" class="navigation__menu--item__link">Resume Building</a>
               
            </li>
            
    </nav>
</div>

                        <div class="header__right__btn d-flex gap-3">
                            <a href="{{url_for('candidatedash')}}" class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs" aria-label="Login Button"  ><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                            <button class="d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-sharp fa-regular fa-bars"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>