<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Your Ultimate Job HTML Template">
    <meta name="keywords" content="Job, Resume, Employer, Agency">
    <link rel="canonical" href="https://html.themewant.com/jobpath">
    <meta name="robots" content="index, follow">
    <!-- for open graph social media -->
    <meta property="og:title" content="Your Ultimate Job HTML Template">
    <meta property="og:description" content="Your Ultimate Job HTML Template">
    <meta property="og:image" content="../../../www.example.com/image.html">
    <meta property="og:url" content="https://html.themewant.com/jobpath/">
    <!-- for twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Your Ultimate Job HTML Template">
    <meta name="twitter:description" content="Your Ultimate Job HTML Template">
    <!-- fabicon -->
    <link rel="shortcut-icon" href="assets/img/favicon-16x16.png" type="image/x-icon">



    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <title>Jobpath - Job Seeker &amp; Job Holder HTML Template</title>
    <!-- rt icons -->
    <link rel="stylesheet" href="assets/fonts/icon/css/rt-icons.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="assets/fonts/fontawesome/fontawesome.min.css">
    <!-- all plugin css -->
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <!-- header area -->
    <header class="rts__section rts__header absolute__header">
        <div class="container-none">
            <div class="rts__menu__background">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="rts__logo">
                            <a href="index-2.html">
                                <img class="logo__image" src="assets/img/logo/header__one.svg" width="160" height="40" alt="logo">
                            </a>
                        </div>
                        <div class="rts__menu d-flex gap-5 gap-lg-4 gap-xl-5 align-items-center">
                            <div class="navigation d-none d-lg-block">
        <nav class="navigation__menu" id="offcanvas__menu">
            <ul class="list-unstyled">
                <li class="navigation__menu--item has-child has-arrow">
                    <a href="#" class="navigation__menu--item__link">Home</a>
                    <ul class="submenu sub__style" role="menu">
                        <li role="menuitem"><a href="index-1.html">Home One</a></li>
                        
                    </ul>
                </li>
    
                <li class="navigation__menu--item has-child has-arrow">
                    <a href="#" class="navigation__menu--item__link">Browse Jobs</a>
                    <ul class="submenu sub__style" role="menu">
                        <li role="menuitem">
                            <a href="job-list-4.html">Job List</a>
                        </li>
                        <li role="menuitem" >
                            <a href="job-details-1.html">Job Details</a>
                        </li>
                    </ul>
                </li>
    
                <li class="navigation__menu--item has-child has-arrow">
                    <a href="#" class="navigation__menu--item__link">Employers</a>
                    <ul class="submenu sub__style" role="menu">
                        <li role="menuitem">
                            <a href="employer-3.html">Employer Style</a>
                        </li>
                        <li role="menuitem" >
                            <a href="employer-details-1.html">Employer Details</a>
                        </li>
                        <li role="menuitem"><a href="employer-dashboard.html">Employer Dashboard</a></li>
                    </ul>
                </li>
    
                <li class="navigation__menu--item has-child has-arrow">
                    <a href="#" class="navigation__menu--item__link">Candidates</a>
                    <ul class="submenu sub__style" role="menu">
                        <li role="menuitem" >
                            <a href="candidate-3.html">Candidate Style</a>
                        </li>
                        <li role="menuitem" >
                            <a href="candidate-details-1.html">Candidate Details</a>
                        </li>
                        <li role="menuitem"><a href="candidate-dashboard.html">Candidate Dashboard</a></li>
                    </ul>
                </li>
    
                <li class="navigation__menu--item has-child has-arrow">
                    <a href="#" class="navigation__menu--item__link">Pages</a>
                    <ul class="submenu sub__style" role="menu">
                        <li role="menuitem" >
                            <a href="blog-3.html">Blog</a>
                        </li>
                        <li role="menuitem"><a href="about.html">About</a></li>
                        <li role="menuitem"><a href="faq.html">Faq</a></li>
                        <li role="menuitem"><a href="tos.html">Terms & Conditions</a></li>
                        <li role="menuitem"><a href="privacy.html">Privacy Policy</a></li>
                        <li role="menuitem"><a href="pricing.html">Pricing</a></li>
                    </ul>
                </li>
    
                <li class="navigation__menu--item">
                    <a href="contact-2.html" class="navigation__menu--item__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    
                            <div class="header__right__btn d-flex gap-3">
                                <a href="#" class="small__btn d-none d-sm-flex no__fill__btn border-6 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="rt-login"></i>Sign In</a>
                                <a href="employer-dash-jobpost.html" class="small__btn d-none d-sm-flex d-xl-flex fill__btn border-6 font-xs" aria-label="Job Posting Button">Add Job</a>
                                <button class="d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas"><i class="fa-sharp fa-regular fa-bars"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- header area end -->

 
<div class="rts__pagination d-block mx-auto pt-60 max-content">
    <ul class="d-flex gap-2">
        <li><a href="#" class="inactive"><i class="rt-chevron-left"></i></a></li>
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="rt-chevron-right"></i></a></li>
    </ul>
</div>

                    <div class="row justify-content-start g-30">
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/apple.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Senior UI Designer, Apple
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/google.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Senior UX Designer, Google
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/microsoft.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Software Engineer, Bing
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/upwork.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Web developer, Upwork
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/facebook.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Digital Marketing, Facebook
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->
                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/in.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Graphic Designer, Linkedin
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->

                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/amazon.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Data Analysis, Amazon
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->

                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/udemy.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Online Trainer, Udemy
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->

                        <!-- single item -->
                        <div class="col-xl-4 col-lg-6 col-md-11">
                            <div class="rts__job__card">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="company__icon">
                                        <img src="assets/img/home-1/company/figma.svg" alt="">
                                    </div>
                                    <div class="featured__option">
                                      
                                    </div>
                                </div>
                                <div class="d-flex gap-3 flex-wrap mt-4">
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-location-dot"></i> Newyork, USA
                                    </div>
                                    <div class="d-flex gap-2 align-items-center">
                                        <i class="fa-light fa-briefcase"></i> Full Time
                                    </div>
                                </div>
                                <div class="h6 job__title my-3">
                                    <a href="#" aria-label="job">
                                        Product Designer, Figma
                                    </a>
                                </div>
                                <p>Consectetur adipisicing elit. Possimus 
                                    aut mollitia eum ipsum fugiat odio officiis odit mollitia eum ipsum.
                                </p>
                                <div class="job__tags d-flex flex-wrap gap-2 mt-4">
                                    <a href="#">Creative</a>
                                    <a href="#">user interface</a>
                                    <a href="#">web ui</a>
                                </div>
                            </div>
                        </div>
                        <!-- single item end -->

                    </div>


                   
                </div>
            </div>
        </div>
     </div>
    <!-- job list one end -->
    <footer class="rts__section  footer__home__one">
        <div class="container">
            <div class="row">
                <div class="footer__wrapper d-flex flex-wrap flex-column flex-sm-row gap-4 gap-md-0 gap-sm-3 justify-content-between pt-60 pb-60">
                   
                <!-- footer menu -->
                <div class="rts__footer__widget max-content">
                    <div class="font-20 fw-medium mb-3 h6">Links</div>
                    <ul class="list-unstyled">
                        <li><a href="job-list-1.html" aria-label="footer__menu__link">Browse Jobs</a></li>
                        <li><a href="candidate-1.html" aria-label="footer__menu__link">Browse Candidates</a></li>
                        <li><a href="blog-1.html" aria-label="footer__menu__link">Blog & News</a></li>
                        <li><a href="faq.html" aria-label="footer__menu__link">FAQ Question</a></li>
                        <li><a href="#" aria-label="footer__menu__link">Job Alerts</a></li>
                    </ul>
                 </div>

                 <div class="rts__footer__widget max-content">
                    <div class="font-20 fw-medium mb-3 h6 ">Contact Us</div>
                    <ul class="list-unstyled mb-3">
                        <li><a href="callto:+880171234578"><i class="fa-light fa-phone"></i>+(91)59431 46389</a></li>
                        <li><a href="mailto:jobpath@gmail.com"><i class="fa-light fa-envelope"></i> Competencyscore@gmail.com</a></li>
                    </ul>
                    <div class="font-20 fw-medium mb-20 text-dark">Social Link</div>
                    <div class="rts__social d-flex gap-4">
    <a target="_blank" href="https://facebook.com/"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com/"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com/"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com/"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com/"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
                 </div>

            </div>
        </div>
    </div>
    <div class="rts__copyright">
        <div class="container">
            <p class="text-center fw-medium py-4">
                Copyright &copy; 2024 All Rights Reserved by jobpath
            </p>
        </div>
    </div>
</footer>

  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header p-0 mb-5 mt-4">
      <a href="index-2.html" class="offcanvas-title" id="offcanvasLabel">
        <img src="assets/img/logo/header__one.svg" alt="logo">
      </a> 
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- login offcanvas -->
     <div class="mb-4 d-block d-sm-none">
      <div class="header__right__btn d-flex justify-content-center gap-3">
        <a href="#" class="small__btn no__fill__btn border-6 font-xs" aria-label="Login Button" data-bs-toggle="modal" data-bs-target="#loginModal"> <i class="rt-login"></i>Sign In</a>
        <a href="#" class="small__btn d-xl-flex fill__btn border-6 font-xs" aria-label="Job Posting Button">Add Job</a>
    </div>
     </div>
    <div class="offcanvas-body p-0">
      <div class="rts__offcanvas__menu overflow-hidden">
        <div class="offcanvas__menu"></div>
      </div>
      <p class="max-auto font-20 fw-medium text-center text-decoration-underline mt-4">Our Social Links</p>
      <div class="rts__social d-flex justify-content-center gap-3 mt-3">
    <a target="_blank" href="https://facebook.com/"  aria-label="facebook">
        <i class="fa-brands fa-facebook"></i>
    </a>
    <a target="_blank" href="https://instagram.com/"  aria-label="instagram">
        <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" href="https://linkedin.com/"  aria-label="linkedin">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a target="_blank" href="https://pinterest.com/"  aria-label="pinterest">
        <i class="fa-brands fa-pinterest"></i>
    </a>
    <a target="_blank" href="https://youtube.com/"  aria-label="youtube">
        <i class="fa-brands fa-youtube"></i>
    </a>
</div>
    </div>
  </div>
<!-- THEME PRELOADER START -->
<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- THEME PRELOADER END -->
<button type="button" class="rts__back__top" id="rts-back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<!-- all plugin js -->
<script src="assets/js/plugins.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>